<div class="container">
<h1>Stupid Coaching</h1>
  <div class="card-two">
    <div class="card-one">
      <p> <%= @question %> </p>
      <p><i>- You</i></p>
    </div>
  </div>
  <div class="card-two">
    <div class="card-one">
      <p> <%= @answer %> </p>
      <p><i>- Your coach</i></p>
    </div>
  </div>
  <%= link_to "ask another question", "/ask" %>
</div>
